body{
    margin: 0 auto;
    padding: 0;
}

.card {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #fbf7e3;
    border: 1px solid transparent;
    border-radius: 20%;
    overflow: hidden;
    color: #742305;
    width: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .description {
    width: auto;
    margin-left: 100px;
    flex-grow: 1;
    display: flex;
  }
 
  .prezzo{
   display: flex;
   margin-left: 40px;
   
   
  }

  button {
    color: #742305;
    background-color: #f3df85;
    border: none;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 10px;
    padding: 10px;
    align-self: center;
    font-size: 1em;
    font-weight: bolder;
  }

  